name: bazel_build
on:
  push:
    branches:
      - main
jobs:
  bazel-build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install Pip
        run: |
          set
          python -m pip install --upgrade pip
      - uses: bazelbuild/setup-bazelisk@v1
      - name: Mount bazel cache  # Optional
        uses: actions/cache@v2
        with:
          path: "~/.cache/bazel"
          key: bazel
      - run: bazel build //...
      - run: bazel test --test_summary=detailed --test_output=errors //...
